<img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Logo_UTFSM.png" width="200" alt="utfsm-logo" align="left"/>

# MAT281
### Aplicaciones de la Matemática en la Ingeniería

## Módulo 02
## Laboratorio Clase 04: Agrupando datos

### Instrucciones


* Completa tus datos personales (nombre y rol USM) en siguiente celda.
* La escala es de 0 a 4 considerando solo valores enteros.
* Debes _pushear_ tus cambios a tu repositorio personal del curso.
* Como respaldo, debes enviar un archivo .zip con el siguiente formato `mXX_cYY_lab_apellido_nombre.zip` a alonso.ogueda@gmail.com. 
* Se evaluará:
    - Soluciones
    - Código
    - Que Binder esté bien configurado.
    - Al presionar  `Kernel -> Restart Kernel and Run All Cells` deben ejecutarse todas las celdas sin error.
* __La entrega es al final de esta clase.__

__Nombre__: tomas tapia caceres

__Rol__:201711049-k

Se utilizará el mismo dataset de pokemon

In [19]:
import os
import pandas as pd

In [20]:
pkm = (
    pd.read_csv(os.path.join("data", "pokemon.csv"), index_col="#")
    .rename(columns=lambda x: x.replace(" ", "").replace(".", "_").lower())
)
pkm.head()

,name,type1,type2,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## Ejercicio #1 (1 pto)

Agrupar por `generation` y `legendary` y obtener por grupo:

* Promedio de `hp`
* Mínimo y máximo de `sp_atk` y `sp_def`

In [21]:
(
    pkm.groupby(["generation","legendary"])
    .agg(
        hp_prom=("hp", "mean"),
        min_sp_atack=("sp_atk", "min"),
        min_sp_def=("sp_def", "min"),
        max_sp_atack=("sp_atk", "max"),
        max_sp_def=("sp_def", "max")
    )
)

                         hp_prom  min_sp_atack  min_sp_def  max_sp_atack  \
generation legendary
1          False       64.612500            15          20           175
           True        98.000000            95          85           194
2          False       69.613861            10          20           165
           True       103.400000            90          75           115
3          False       64.626761            10          20           165
           True        81.666667            50          20           180
4          False       69.740741            10          30           140
           True       100.846154            75          70           150
5          False       69.353333            15          25           145
           True        96.133333            72          72           170
6          False       66.189189            27          25           150
           True        87.500000            81          90           170

                      max_sp_def
generation legendary
1          False             130
           True              125
2          False             230
           True              154
3          False             135
           True              200
4          False             150
           True              130
5          False             135
           True              129
6          False             154
           True              150

## Ejercicio #2 (1 pto)

El profesor Oakgueda determinó que una buen indicador de pokemones es: 

$$ 0.2 \, \textrm{hp} + 0.4 \,(\textrm{attack} + \textrm{sp_atk})^2 + 0.3 \,( \textrm{defense} + \textrm{sp_deff})^{1.5} + 0.1 \, \textrm{speed}$$

Según este indicador, ¿Qué grupo de pokemones (`type1`, `type2`) es en promedio mejor que el resto?

In [22]:
def oakgueda_indicator(pkm):
    oakgueda_ind = pkm.apply(lambda x: x["hp"]*0.2+0.4*(x["attack"]+x["sp_atk"])**2+0.3*((x["defense"]+x["sp_def"])**1.5)+0.1*x["speed"],axis =1)
    return oakgueda_ind.mean()

In [23]:
pkm.groupby(["type1","type2"]).apply(oakgueda_indicator).mean() #promedio de indicador global.

13314.57374931687

In [24]:
pkm.groupby(["type1","type2"]).filter(lambda x: oakgueda_indicator(pkm) > 13314.573749)# aca los sobre el promedio deberia salir

Empty DataFrame
Columns: [name, type1, type2, hp, attack, defense, sp_atk, sp_def, speed, generation, legendary]
Index: []

__Respuesta__: todos aquellos q tengan sobre 13314.58 en el indicador.

## Ejercicio #3 (1 pto)

Define una función que escale los datos tal que, si $s$ es una columna: 

$$s\_scaled = \frac{s - \min(s)}{\max(s) - \min(s)}$$

Y luego transforma cada columna agrupando por si el pokemon es legendario o no.

In [25]:
def minmax_scale(s):
    return (s-s.min())/(s.max()-s.min())

pkm.groupby("legendary").transform(minmax_scale)

           hp    attack   defense    sp_atk    sp_def     speed  generation
#
1    0.173228  0.244444  0.195556  0.333333  0.214286  0.258065         0.0
2    0.232283  0.316667  0.257778  0.424242  0.285714  0.354839         0.0
3    0.311024  0.427778  0.346667  0.545455  0.380952  0.483871         0.0
4    0.311024  0.527778  0.524444  0.678788  0.476190  0.483871         0.0
5    0.149606  0.261111  0.168889  0.303030  0.142857  0.387097         0.0
..        ...       ...       ...       ...       ...       ...         ...
796  0.000000  0.357143  0.722222  0.347222  0.722222  0.000000         1.0
797  0.000000  0.785714  0.500000  0.763889  0.500000  0.461538         1.0
798  0.300000  0.428571  0.222222  0.694444  0.611111  0.153846         1.0
799  0.300000  0.785714  0.222222  0.833333  0.611111  0.230769         1.0
800  0.300000  0.428571  0.555556  0.555556  0.388889  0.153846         1.0

[800 rows x 7 columns]

## Ejercicio #4 (1 pto)

El profesor Oakgueda necesita saber cuántos pokemones hay luego de filtrar el dataset tal que el grupo de (`type1`, `type2`) tenga en promedio un indicador (el del ejercicio #2) mayor a 50000.

In [28]:
pkm.groupby(["type1","type2"]).filter(lambda df: oakgueda_indicator(df)>50000) #ni idea porqué no me da :c

Empty DataFrame
Columns: [name, type1, type2, hp, attack, defense, sp_atk, sp_def, speed, generation, legendary]
Index: []

__Respuesta:__ Hay solo dos pokemones que cumplen esta condición.